.intro__title {
  font-style: normal;
  font-weight: 900;
  line-height: 107%;
  color: #FFFFFF;
  margin-top: 92px;
  margin-bottom: 0;
  text-align: left;
  font-size: 54px;
}

@media screen and (max-width: 768px) {
  .intro__title {
    margin-top: 88px;
    font-size: 7vw;
  }
}

@media screen and (max-width: 320px) {
  .intro__title {
    margin-top: 64px;
    font-size: 32px;
    line-height: 35px;
  }
}