html {
  -webkit-text-size-adjust: 100%;
  line-height: 1.15;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  margin: .67em 0;
  font-size: 2em;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace;
  font-size: 1em;
}

a {
  background-color: #0000;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

img {
  border-style: none;
}

button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  max-width: 100%;
  white-space: normal;
  padding: 0;
  display: table;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"], [type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template, [hidden] {
  display: none;
}

@font-face {
  font-family: Inter;
  src: url("Inter-Regular.d625ccdf.woff2") format("woff2"), url("Inter-Regular.6810f434.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  src: url("Inter-Bold.07b3d103.woff2") format("woff2"), url("Inter-Bold.891b1a94.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  src: url("Inter-Black.83900aec.woff2") format("woff2"), url("Inter-Black.90065e66.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

.page {
  max-width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  box-sizing: border-box;
  background-color: #2a2c2f;
  margin: 0 auto;
  font-family: Inter, Arial, sans-serif;
}

.header {
  max-width: 1184px;
  justify-content: space-between;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

@media screen and (max-width: 320px) {
  .header {
    width: 90%;
  }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .header {
    width: calc(96.42% - 20px);
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .header {
    width: calc(81.25% + 96px);
  }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .header {
    width: calc(100% - 96px);
  }
}

.header__logo {
  margin-top: 28px;
}

@media screen and (max-width: 320px) {
  .header__logo {
    width: 44.37%;
    margin-top: 16px;
  }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .header__logo {
    width: calc(7.58% + 117px);
    margin-top: 28px;
  }
}

.header__lang-links {
  margin-top: 28px;
  display: flex;
}

@media screen and (max-width: 320px) {
  .header__lang-links {
    margin-top: 16px;
  }
}

.header__lang-link {
  color: #fff;
  opacity: 1;
  margin-top: 18px;
  margin-right: 18px;
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  line-height: 28px;
  transition: opacity .1s linear;
}

@media screen and (max-width: 320px) {
  .header__lang-link {
    margin-top: 16px;
    font-size: 18px;
    line-height: 20px;
  }
}

.header__lang-link:last-child {
  margin-right: 0;
}

.header__lang-link:hover {
  opacity: .8;
}

.header__lang-link_disable {
  text-decoration-line: none;
}

.lead {
  max-width: 984px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

@media screen and (max-width: 768px) {
  .lead {
    width: 100%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .lead {
    width: calc(62.5% + 288px);
  }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .lead {
    width: calc(21.87% + 704px);
  }
}

.lead__title {
  max-width: 720px;
  text-align: center;
  color: #fff;
  text-rendering: optimizelegibility;
  align-self: center;
  margin-top: 56px;
  margin-bottom: 0;
  font-size: 96px;
  font-style: normal;
  font-weight: 900;
  line-height: 100px;
}

@media screen and (max-width: 320px) {
  .lead__title {
    width: 90%;
    margin-top: 15%;
    font-size: 12.5vw;
    line-height: 104%;
  }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .lead__title {
    width: calc(96.42% - 20px);
    margin-top: 48px;
    font-size: 12.5vw;
    line-height: 104%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1920px) {
  .lead__title {
    width: 720px;
    margin-top: calc(3.12% + 24px);
  }
}

.lead__subtitle {
  width: 640px;
  text-align: center;
  color: #fff;
  margin-top: calc(1% + 12px);
  margin-bottom: 0;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

@media screen and (max-width: 320px) {
  .lead__subtitle {
    width: 71.25%;
    margin-top: 5%;
    font-size: 16px;
    line-height: 125%;
  }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .lead__subtitle {
    width: calc(91.96% - 66px);
    font-size: 4vw;
  }
}

@media screen and (min-width: 769px) and (max-width: 1920px) {
  .lead__subtitle {
    width: 640px;
  }
}

.lead__image {
  object-fit: contain;
  object-position: top;
  width: 100%;
  margin-top: 64px;
}

@media screen and (max-width: 1024px) {
  .lead__image {
    margin-top: 56px;
  }
}

@media screen and (max-width: 320px) {
  .lead__image {
    margin-top: 40px;
  }
}

.lead__caption {
  letter-spacing: .15em;
  text-transform: uppercase;
  text-align: left;
  color: #fff;
  align-self: flex-start;
  margin-top: 8px;
  margin-bottom: 0;
  margin-left: 0;
  font-size: 10px;
  font-style: normal;
  font-weight: normal;
  line-height: 14px;
}

@media screen and (max-width: 320px) {
  .lead__caption {
    margin-left: 5%;
  }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .lead__caption {
    margin-left: calc(1.78% + 10px);
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .lead__caption {
    margin-left: calc(96px - 9.38%);
  }
}

@media screen and (min-width: 1025px) and (max-width: 1920px) {
  .lead__caption {
    margin-left: 0;
  }
}

.intro {
  max-width: 984px;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

@media screen and (max-width: 320px) {
  .intro {
    width: 90%;
  }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .intro {
    width: calc(96.42% - 20px);
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .intro {
    width: calc(81.25% + 96px);
  }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .intro {
    width: calc(21.87% + 704px);
  }
}

.intro__title {
  color: #fff;
  text-align: left;
  margin-top: 92px;
  margin-bottom: 0;
  font-size: 54px;
  font-style: normal;
  font-weight: 900;
  line-height: 107%;
}

@media screen and (max-width: 768px) {
  .intro__title {
    margin-top: 88px;
    font-size: 7vw;
  }
}

@media screen and (max-width: 320px) {
  .intro__title {
    margin-top: 64px;
    font-size: 32px;
    line-height: 35px;
  }
}

.intro__text {
  text-align: left;
  color: #fff;
  max-width: 690px;
  margin-top: 40px;
  margin-bottom: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 163%;
}

@media screen and (max-width: 768px) {
  .intro__text {
    max-width: 100%;
  }
}

.intro__list {
  margin-top: 33px;
  margin-bottom: 0;
  padding: 0;
  list-style-type: none;
}

@media screen and (max-width: 320px) {
  .intro__list {
    margin-top: 34px;
  }
}

.intro__paragraph {
  color: #fff;
  height: auto;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  line-height: 18px;
}

.intro__span-accent {
  font-weight: bold;
}

.photo-grid {
  max-width: 1184px;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fill, minmax(284px, auto));
  grid-auto-flow: row dense;
  justify-content: center;
  gap: 16px;
  margin-top: 92px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
}

@media screen and (min-width: 1280px) and (max-width: 1920px) {
  .photo-grid {
    max-width: 1184px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1279px) {
  .photo-grid {
    width: calc(100% - 96px);
    gap: 14px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .photo-grid {
    width: calc(81.25% + 96px);
    gap: 16px;
  }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .photo-grid {
    width: calc(96.42% - 20px);
    gap: 12px;
    margin-top: 88px;
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    margin-top: 64px;
  }
}

.photo-grid__link {
  z-index: 3;
  opacity: 1;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  transition: opacity .25s linear;
  display: flex;
}

.photo-grid__link:hover {
  opacity: .5;
}

.photo-grid__item {
  z-index: -1;
  max-width: 100%;
}

.place {
  max-width: 984px;
  grid-template-columns: repeat(2, 1fr);
  gap: 48px 40px;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
}

@media screen and (max-width: 520px) {
  .place {
    width: 100%;
    flex-direction: column;
    margin-top: 48px;
    display: flex;
  }
}

@media screen and (min-width: 521px) and (max-width: 768px) {
  .place {
    width: calc(96.42% - 20px);
    gap: 48px 28px;
    margin-top: 73px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .place {
    width: calc(81.25% + 96px);
    gap: 48px 32px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .place {
    width: calc(21.87% + 704px);
    gap: 48px 40px;
  }
}

.place:first-child {
  margin-top: 92px;
}

@media screen and (max-width: 768px) {
  .place:first-child {
    margin-top: 88px;
  }
}

@media screen and (max-width: 320px) {
  .place:first-child {
    margin-top: 64px;
  }
}

.place__title {
  color: #fff;
  text-align: left;
  margin: 0;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 76px;
}

@media screen and (max-width: 768px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (max-width: 520px) {
  .place__title {
    align-self: flex-start;
    margin-left: 16px;
  }
}

@media screen and (max-width: 320px) {
  .place__title {
    font-size: 32px;
    line-height: 35px;
  }
}

.place__website {
  align-self: flex-end;
}

@media screen and (max-width: 767px) {
  .place__website {
    flex-direction: column;
    align-self: center;
    display: flex;
  }
}

@media screen and (max-width: 520px) {
  .place__website {
    display: none;
  }
}

.place__url-heading {
  letter-spacing: .2em;
  color: #aaa;
  margin: 0;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  line-height: 170%;
}

.place__link {
  color: #fff;
  opacity: 1;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  line-height: 22px;
  text-decoration-line: underline;
  transition: opacity .1s linear;
}

.place__link:hover {
  opacity: .8;
}

.place__image {
  object-fit: contain;
  object-position: top;
  max-width: 100%;
}

.place__paragraph {
  color: #fff;
  margin: 25px auto 0;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  line-height: 29px;
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
  }
}

@media screen and (max-width: 520px) {
  .place__paragraph {
    width: calc(96.42% - 20px);
  }
}

@media screen and (max-width: 320px) {
  .place__paragraph {
    line-height: 26.08px;
  }
}

.place__paragraph:first-child {
  margin-top: 0;
}

.cover__link {
  width: auto;
  margin-top: 92px;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  display: block;
  overflow: hidden;
}

.cover__link:hover .cover__overlay {
  opacity: .8;
}

@media screen and (max-width: 320px) {
  .cover__link {
    margin-top: 66px;
  }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .cover__link {
    margin-top: 90px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1280px) {
  .cover__link {
    margin-top: 92px;
  }
}

@media screen and (min-width: 1025px) {
  .cover__link {
    width: max-content;
  }
}

.cover__link-container {
  width: 1184px;
  min-height: 740px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

@media screen and (min-width: 1px) and (max-width: 1024px) {
  .cover__link-container {
    width: 100vw;
    min-height: 62.5vw;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .cover__link-container {
    width: 92.5vw;
    min-height: 57.81vw;
  }
}

.cover__title {
  text-align: center;
  color: #fff;
  width: 560px;
  z-index: 2;
  margin: 0;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 106%;
}

@media screen and (max-width: 320px) {
  .cover__title {
    width: 90%;
    font-size: 32px;
    line-height: 109%;
  }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .cover__title {
    width: calc(60.71% + 93px);
    font-size: 9.5vw;
  }
}

@media screen and (min-width: 769px) and (max-width: 1280px) {
  .cover__title {
    width: 560px;
    font-size: 72px;
  }
}

.cover__subtitle {
  text-align: center;
  color: #fff;
  width: calc(16.07% + 236px);
  z-index: 2;
  margin-top: calc(1% + 12px);
  margin-bottom: 0;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  line-height: 122%;
}

@media screen and (max-width: 320px) {
  .cover__subtitle {
    width: 90%;
    margin-top: 5%;
    font-size: 16px;
  }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .cover__subtitle {
    width: calc(16.07% + 236px);
  }
}

@media screen and (min-width: 769px) and (max-width: 1920px) {
  .cover__subtitle {
    width: 360px;
  }
}

.cover__overlay {
  opacity: .3;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #2a2c2f;
  align-self: center;
  transition: opacity .25s linear;
  position: absolute;
}

.cover__background {
  width: 100%;
  height: 100%;
  background-image: url("cover-trains.ec060ec0.jpg");
  background-size: contain;
  position: absolute;
}

.footer {
  max-width: 1184px;
  flex-direction: row;
  place-content: center space-between;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

@media screen and (max-width: 650px) {
  .footer {
    flex-direction: column;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .footer {
    width: calc(97.73% - 24px);
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .footer {
    width: calc(79.38% + 115px);
  }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .footer {
    width: calc(100% - 96px);
  }
}

.footer__links {
  flex-direction: row;
  margin-top: 92px;
  margin-bottom: 24px;
  padding: 0;
  list-style-type: none;
  display: flex;
}

@media screen and (max-width: 650px) {
  .footer__links {
    flex-direction: column;
    margin-top: 64px;
    margin-bottom: 0;
  }
}

.footer__link-item {
  margin-left: 18px;
}

@media screen and (max-width: 650px) {
  .footer__link-item {
    margin-top: 32px;
    margin-left: 16px;
  }
}

.footer__link-item:first-child {
  margin: 0;
}

@media screen and (max-width: 650px) {
  .footer__link-item:first-child {
    margin-left: 16px;
  }
}

.footer__link {
  color: #fff;
  opacity: 1;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 18px;
  text-decoration-line: none;
  transition: opacity .1s linear;
}

@media screen and (max-width: 650px) {
  .footer__link {
    font-size: 24px;
    line-height: 24px;
  }
}

.footer__link:hover {
  opacity: .8;
}

.footer__copyright {
  color: #fff;
  text-align: right;
  margin-top: 92px;
  margin-bottom: 24px;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 114%;
}

@media screen and (max-width: 650px) {
  .footer__copyright {
    text-align: left;
    margin-top: 48px;
    margin-left: 16px;
    line-height: 100%;
  }
}



/*# sourceMappingURL=index.fc498c8c.css.map */
