.photo-gird__container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fill, minmax(288px, auto));
  gap: 16px;
  justify-content: center;
  grid-auto-flow: row dense;
  width: 92.5%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 1281px) and (max-width: 1920px) {
  .photo-gird__container {
    width: 92.5%;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  .photo-gird__container {
    gap: 14px;
    width: calc(100% - 96px);
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .photo-gird__container {
    gap: 16px;
    width: calc(81.25% + 96px);
  }
}

@media only screen and (min-width: 321px) and (max-width: 768px) {
  .photo-gird__container {
    gap: 12px;
    width: calc(96.42% - 20px);
  }
}