.lead {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  width: 76.87%; 
}

@media only screen and (max-width: 320px) {
	.lead {
        width: 100%; 
    }
 }

@media only screen and (min-width: 321px) and (max-width: 768px) {
  .lead {
    width: calc(99.55% + 1px); 
    }
 }

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .lead {
    width: calc(85.15% + 112px); 
    }
 }

@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  .lead {
    width: calc(22.65% + 752px); 
    }
 }

@media only screen and (min-width: 1281px) and (max-width: 1920px) {
  .lead {
    width: calc(67.81% + 174px); 
    }
 }

@media only screen and (min-width: 1281px) and (max-width: 1920px) {
  .lead { 
    width: 76.87%; 
    }
 }