.header__logo {
  margin-top: 28px;
}

@media screen and (max-width: 320px) {
	.header__logo {
        width: 44.37%;
        margin-top: 16px;
    }
 }

@media screen and (min-width: 321px) and (max-width: 768px) {
	.header__logo {
        width: calc(7.58% + 117px);
        margin-top: 28px;
    }
 }


/*.header {
  width: 92.5%;
  height: calc(2.23% + 34px);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 320px) {
	.header { 
        width: 90%;
        height: 13.12%;
    }
 }

@media screen and (min-width: 321px) and (max-width: 768px) {
	.header { 
        width: calc(96.42% - 20px);
        height: calc(2.23% + 34px);
    }
 }*/s