.header__logo {
  background-image: url("../../../images/header/header__logo.svg");
  width: 176px;
  height: 52px;
  margin-top: 28px;
  background-size:cover; 
}

@media screen and (max-width: 320px) {
  .header__logo {
    margin-top: 16px;
    width: 142px;
    height: 42px;
  }
}