.photo-grid__link {
  display: flex;
  z-index: 3;
  flex-wrap: wrap;
  margin: 0;
  justify-content: center;
  transition: opacity 0.25s linear;
  opacity: 1;
}

.photo-grid__link:hover {
  opacity: 0.5;
}