.lead__title {
  max-width: 720px;
  margin-top: 56px;
  margin-bottom: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  color: #FFFFFF;
  align-self: center;
  text-rendering: optimizeLegibility;
}

@media screen and (max-width: 320px) {
	.lead__title {
        width: 90%;
        font-size: 12.5vw;
        line-height: 104%;
        margin-top: 15%;
    }
 }

@media screen and (min-width: 321px) and (max-width: 768px) {
	.lead__title {
        width: calc(96.42% - 20px);
        margin-top: 48px;
        font-size: 13vw;
        line-height: 104%;
    }
 }

@media screen and (min-width: 769px) and (max-width: 1920px) {
	.lead__title {
        width: 720px;
        margin-top: calc(3.12% + 24px);
    }
 }