.footer__copyright {
  color: #FFFFFF;
  margin-top: 92px;
  margin-bottom: 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

@media screen and (min-width: 1280px) {
  .footer__copyright {

  }
}

@media screen and (max-width: 1024px) {
  .footer__copyright {

  }
}

@media screen and (max-width: 768px) {
  .footer__copyright {

  }
}

@media screen and (max-width: 320px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 14px;
    margin-top: 48px;
    margin-left: 16px;
  }
}