.cover__link-container {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 1184px;
    max-height: 740px;
    width: 92.5vw;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1024px) {
	.cover__link-container {
        height: 62.5vw;
        width: 100vw;
        max-width: 100%;
    }
 }

@media screen and (min-width: 1025px) {
	.cover__link-container {
        height: 57.81vw;
    }
 }