.intro__text {
  text-align: left;
  margin-top: 40px;
  margin-bottom: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 163%;
  color: #FFFFFF;
  max-width: 690px;
}

@media screen and (max-width: 768px) {
  .intro__text {
    max-width: 100%;
  }
}