.footer {
  display: flex;
  align-content: center;
  justify-content: space-between;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  width: 92.5%; 
}

@media screen and (max-width: 650px) {
  .footer {
      flex-direction: column;
  }

@media screen and (min-width: 320px) and (max-width: 699px) {
  .footer {
    width: calc(97.73% - 24px); 
  }
}

@media screen and (min-width: 700px) and (max-width: 762px) {
  .footer {
    width: calc(97.73% - 24px); 
  }
}

@media screen and (min-width: 763px) and (max-width: 1024px) {
  .footer {
    width: calc(79.38% + 115px); 
  }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .footer {
    width: calc(100% - 96px); 
  }
}

@media screen and (min-width: 1281px) and (max-width: 1920px) {
  .footer {
    width: 92.5%; 
  }
}
